node_modules/

.terraform/
infra/.terraform.tfstate.lock.info
infra/.terraform.lock.hcl

infra/terraform.tfstate
infra/terraform.tfstate.backup

cypress/integration/examples/
cypress/fixtures/example.json
cypress/videos/
cypress/screenshots/

mock-storage/storage/
